@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    overflow-y: hidden;

    --bg: #f5f4f4;
    --primary: #318ce7;
    --secondary: #abb1bd;
    --text: #171717;
    --action: #71d44d;
    --alert: #DF2935;


    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    font-family: "Poppins", sans-serif;



}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 3px;
}

.logo span {
    font-size: 25px;
    font-weight: 600;
    line-height: 80%;
}

.logo img {
    width: 30px;
    height: 30px;
}

.btn-cta {
    padding: 10px 15px;
    background-color: var(--action);

    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn-cta:hover {
    box-shadow: var(--action) 0px 0px 5px;
}

.btn-light {
    padding: 10px 15px;
    background-color: var(--primary);
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn-light:hover {
    box-shadow: var(--secondary) 0px 0px 4px;
}






/* Homepage */

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 600px;
}

.intro-txt {
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* GAME SECTION ------------------------ */


/* Navbar */

.game-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;
}

.close-game {
    position: absolute;
    left: 30px;
    top: 30px;
}

.close-game a {
    display: flex;
    align-items: center;
    gap: 2px;
}

.table {
    display: flex;
    gap: 50px;
    width: 200px;
}

.points {
    font-weight: 500;
}

.timer {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 500;
}

.shop-area {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.shop-btn {
    border: none;
    outline: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.shop {
    background-color: var(--bg);
    box-shadow: var(--secondary) 0px 0px 5px 1px;
    border-radius: 7px;
    height: 70vh;
    width: 80%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
}

.shop-content {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.shop-item {
    width: 200px;
    height: 200px;
    box-shadow: var(--secondary) 0px 0px 5px 1px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.shop-item img {
    height: 40%;
    width: 100%;
    object-fit: cover;
}




/* Main */

main {
    height: 70vh;
}

.main-content {
    height: 100%;
    position: relative;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.image {
    height: 100%;
    width: auto;
    overflow: hidden;

}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question span {
    font-size: 25px;
    font-weight: 500;
}

.correct {
    border: 2px solid var(--action);
}


.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.options button {
    font-size: 25px;
    outline: none;
    border: 3px solid #171717;
    padding: 5px 10px;
    border-radius: 7px;
}

.time-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    padding: 15px;
    border: 3px solid var(--text);
    border-radius: 7px;
    display: none;
}


.time-up-content span:first-child {
    font-size: 25px;
    font-weight: 600;
}

.time-up-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {

    .exit-btn {
        display: none;
    }

    .table {
        flex-direction: column;
        align-items: center;
        right: 5px;
        gap: 5px;
    }

}