* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    --bg: #171717;
    --primary: #000;
    --secondary: #fff;
    --text: #54b71b;

    background-color: var(--bg);
    min-height: 100vh;


}